h1  {
    color: cornflowerblue;
    text-align: center;
    font-family: Marker Felt, sans-serif;
    }
h2  {
    color: mediumblue;
    text-align: center;
    font-family: Georgia, serif;
    }
p   {
    color: steelblue;
    text-align: center;
    font-family: Arial, sans-serif;
    }